
<div class="box box-info box-solid">
    <div class="box-header">
        <h3 class="box-title">{% block infoHeader %}{% endblock %}</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
         </div>
    </div>
    <div class="box-body">
        {% block infoContent %}{% endblock %}
    </div>

</div>
