{% extends '@template/base.html.twig' %}

{% block menuContent %}

{% endblock %}

<div class="row">
    <div class="row-xs-12">
        <article itemscope itemtype="http://schema.org/BlogPosting" class="post single-post">
            <header>
                <h2></h2>
            </header>
        </section>
    </div>
</div>
