{% extends '@template/base.html.twig' %}

{% block menuContent %}

{% endblock %}

{% block mainContent %}
<div class="row">
    <div class="row-xs-12">
        <article itemscope itemtype="http://schema.org/BlogPosting" class="post single-post">
            <header>
                <h2>{{ post.title}}</h2>

            </header>
        </section>
    </div>
</div>
{% endblock %}
