{% extends '@template/base.html.twig' %}

<div class="row">
    <div class="row-xs-12">
        <article itemscope itemtype="http://schema.org/BlogPosting" class="post single-post">

        </section>
    </div>
</div>
