{% extends '@template/base.html.twig' %}

{% block mainContent %}
<div class="row">
    <div class="col-xs-12">
        <h1>Oooops!! The page you are searching is not present.</h1>
        <p>Please check your URL.</p>
    </div>
</div>
{% endblock %}
