{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block mainContent %}


Pagina di amministrazione del blog
<br>
<a href="{{path('homepage')}}">Torna alla home</a>
<br>
<a href="{{path('logout')}}">Fai logout</a>
{% endblock %}
