{% extends '@gBlogTemplate/admin/page.html.twig' %}

{% block headerContent %}
<div class="row">
    <div class="col-xs-12">
        <h1>Benvenuto, {{app.user.username}}</h1>
    </div>
</div>
{% endblock %}


{% block mainContent %}



{% endblock %}
