<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GBlog - administrator page</title>

    {% block css %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
      {% block mainContent %}{% endblock %}

    <footer>
      {% block footer %}{% endblock %}
    </footer>

    {% block js %}{% endblock %}
  </body>
</html>
