{% extends '@gBlogTemplate/main.html.twig' %}

{% block headerContent %}
<h1>Homepage</h1>
{% endblock %}

{% block mainContent %}
<p>questa è la homepage</p>
<a href="{{path('admin_index')}}">Pagina amministrazione</a>
{% endblock %}
