<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GBlog - homepage</title>
    </head>
    <body>
        <header>
            {% block headerContent %}{% endblock %}
        </header>
        {% block mainContent %}{% endblock %}

    </body>
</html>
